h4 {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: light;
}

.balance {
  font-size: 2rem;
}

.spacer {
  flex: 1 1 auto;
}

.add-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
