@use 'sass:map';
@use '@angular/material' as mat;

h4 {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: light;
}

.balance {
  font-size: 2rem;
}

.spacer {
  flex: 1 1 auto;
}

.add-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.green {
  color: mat.get-color-from-palette(mat.$green-palette, 500);
}

.red {
  color: mat.get-color-from-palette(mat.$red-palette, 500);
}
