<h1 mat-dialog-title class="text-3xl font-bold">Add a new category</h1>
<form mat-dialog-content [formGroup]="fb" class="flex flex-col gap-3 my-8" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label for="name">Name</mat-label>
    <input matInput type="text" id="name" name="name" formControlName="name" class="bg-zinc-800 rounded">
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!fb.valid" type="submit"
      class="p-2 w-full bg-emerald-600 rounded mt-2 font-bold disabled:bg-zinc-800">Add</button>
  </div>
</form>
