<app-dashboard-nav></app-dashboard-nav>
<div class="mx-auto container p-4 min-h-[calc(100vh-4rem)] flex flex-col justify-center">
  <h1 class="text-3xl font-bold">Add a new expense</h1>
  <form [formGroup]="fb" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label for="title">Title</mat-label>
      <input matInput placeholder="Title" type="text" id="title" name="title" formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="amount">Amount</mat-label>
      <input matInput type="number" id="amount" name="amount" formControlName="amount" class="bg-zinc-800 rounded">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="type">Type</mat-label>
      <mat-select name="type" id="type" formControlName="type" class="bg-zinc-800 rounded">
        <mat-option value="debit">Debit</mat-option>
        <mat-option value="credit">Credit</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="category">Category</mat-label>
      <mat-select name="category" id="category" formControlName="category" class="bg-zinc-800 rounded">
        <mat-option *ngFor="let category of categories;" [value]="category.id">{{category['name']}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="add-category-btn" mat-flat-button (click)="openDialog()">Create new category</button>

    <button mat-raised-button color="primary" [disabled]="!fb.valid" type="submit"
      class="p-2 w-full bg-emerald-600 rounded mt-2 font-bold disabled:bg-zinc-800">Add</button>
  </form>
</div>
